[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pandas = "*"
mysql-connector-python = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
